{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<ul>
  <li>
    <a href="{{path('pro_stages_entreprise')}}">Tableau trie par entreprises</a>
  </li>
  <li>
    <a href="{{path('pro_stages_formation')}}">Tableau trie par formations</a>
  </li>
</ul>
<p> tableau non trié </p>
{% endblock %}
